

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Hệ thống bán gà<sup>1</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản lý
    </div>

    

    

    <!-- Nav Item - Tables -->
<!--    <li class="nav-item active">-->
<!--        <a class="nav-link" href="/emp">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Quản lý nhân viên</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item active">-->
<!--        <a class="nav-link" href="/account">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Quản lý tài khoản</span></a>-->
<!--    </li>-->

    <li class="nav-item active">
        <a class="nav-link" href="/product">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý sản phẩm</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/product/category">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý danh mục</span></a>
    </li>

    <!-- <li class="nav-item active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý kho</span></a>
    </li> -->

    <!-- <li class="nav-item active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý khách hàng</span></a>
    </li> -->

    <li class="nav-item active">
        <a class="nav-link" href="/order">
            <i class="fas fa-fw fa-table"></i>
            <span>Quản lý đơn hàng</span></a>
    </li>

    <!-- <li class="nav-item active">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Báo cáo</span></a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->


