{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nhân viên - Duyệt đơn hàng</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'homepage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'homepage/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'homepage/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <style>


        .background_verify{
        display: block;
        position: fixed;
        background-color: rgb(255 255 255 / 80%);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        }

        .verify{
            position: fixed;
            margin: auto;
            z-index: 10;
            width: 30rem;
            height: 8rem;
            top: 50%;
            left: 50%;
            background: yellow;
            transform: translate(-50%, -50%);
            border: solid 0.1rem red;
            border-radius: 0.5rem;
            }
        .verify_label{
            height: 30%;
            margin: auto;
            vertical-align: middle;
            width: fit-content;
            font-size: 1.4rem;
            margin-top: 1rem;
            font-weight: 1000;
            color: black;
        }
        .verify_action{
            margin: auto;
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            width: 80%;
        }
        .verify_btn{
            border-radius: 0.5rem;
            width: 7rem;
            height: 2.3rem;
            border-radius: 0.5rem;
            font-weight: 800;
            }

        .verifydel{
            display: none;
        }
        .verifyacp{
           display: none;
        }

        .btn-delete{
            background-color:red;
        }

        .btn-accept{
            background-color: #ff8b28;
        }
        .btn-process{
            background-color: yellow;
            color: black;

        }

        .btn-transport{
            background-color: green;
        }

        .btn-done{
            background-color: blue;
        }


        #verify_btnaccept:hover{
            background-color: #041d69;
        }
        #verify_btncancle:hover{
            background-color: #a91204;
        }

        .btn-delete:hover{
            background-color: #a91204;
        }
        .btn-accept:hover{
            background-color: #b75914;
        }
         .btn-process:hover{
            background-color: #957d06;
        }
        .btn-transport:hover{
            background-color: #045102;
        }
         .btn-done:hover{
            background-color: #092370;




    </style>

</head>

<body id="page-top" style="position: absolute;">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Milk tea</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="index.html">-->
<!--                    <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                    <span>Dashboard</span></a>-->
<!--            </li>-->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>



            <!-- Nav Item - Charts -->
              <li class="nav-item active ">
                <a class="nav-link" href="{% url 'xuly' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Xử lý đơn hàng</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'statistic' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Thống kê</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                    
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'homepage/img/undraw_profile_1.svg' %}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'homepage/img/undraw_profile_2.svg' %}"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'homepage/img/undraw_profile_3.svg' %}"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'homepage/img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Đơn hàng</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            
                                            <th>Tên khách hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày lập</th>
                                            <th>Mã khuyến mãi</th>
                                            <th>Thanh toán</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    
                                    
                                    <tbody>
                                    {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '1' %}
                                        <tr>

                                            <td>{{ item.maDH }}</td>
                                            <td>{{ item.hoten }} </td>
                                            <td>{{ item.tongTien }} <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td> Đợi xác nhận </td>
                                            
                                             <td>
                                                <button class="btn btn-primary btn-delete" name="{{ item.maDH }}" onclick="delete_dh({{ item.maDH }})"> Hủy đơn hàng </button>
                                                <button class="btn btn-primary btn-accept" name="{{ item.maDH }}" onclick="accept_dh({{ item.maDH }})"> Xác nhận đơn hàng </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}

                <!-- in danh sách đơn hàng đã xác nhận, đợi chế biến       -->
                                     {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '2' %}
                                        <tr>

                                            <td>{{ item.maDH }}</td>
                                            <td>{{ item.hoten }} </td>
                                            <td>{{ item.tongTien }} <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td style="color: green"> Đã xác nhận </td>
                                            
                                             <td>
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="xoa_dh({{ item.maDH }})"> Hủy đơn hàng </button>-->
                                                <button class="btn btn-primary btn-process" name="{{ item.maDH }}" onclick="process_dh({{ item.maDH }})"> Chuyển chế biến đơn hàng </button>
                                            </td>
<!--                                            <td style="color: blue; text-align: center; vertical-align: middle;">Đã hoàn thành</td>-->
                                        </tr>
                                    {% endif %}
                                    {% endfor %}

                <!-- in danh sách đơn hàng đang chế biến, đợi vận chuyển       -->
                                     {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '3' %}
                                        <tr>

                                            <td>{{ item.maDH }}</td>
                                            <td>{{ item.hoten }}</td>
                                            <td>{{ item.tongTien }}  <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td style="color: green"> Đang chế biến </td>
                                           
                                             <td>
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="xoa_dh({{ item.maDH }})"> Hủy đơn hàng </button>-->
                                                <button class="btn btn-primary btn-transport" name="{{ item.maDH }}" onclick="transport_dh({{ item.maDH }})"> Chuyển vận chuyển </button>
                                            </td>
<!--                                            <td style="color: blue; text-align: center; vertical-align: middle;">Đã hoàn thành</td>-->
                                        </tr>
                                    {% endif %}
                                    {% endfor %}

            <!-- in danh sách đơn hàng đang vận chuyển, đợi hoàn thành       -->
                                     {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '4' %}
                                        <tr>

                                            <td>{{ item.maDH }}</td>
                                            <td>{{ item.hoten }} </td>
                                            <td>{{ item.tongTien }} <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td style="color: green"> Đang vận chuyển </td>
                                            
                                             <td>
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="xoa_dh({{ item.maDH }})"> Hủy đơn hàng </button>-->
                                                <button class="btn btn-primary btn-done" name="{{ item.maDH }}" onclick="done_dh({{ item.maDH }})"> Hoàn thành </button>
                                            </td>
<!--                                            <td style="color: blue; text-align: center; vertical-align: middle;">Đã hoàn thành</td>-->
                                        </tr>
                                    {% endif %}
                                    {% endfor %}


                <!-- in danh sách đơn hàng đang vận chuyển, đợi hoàn thành       -->
                                     {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '5' %}
                                        <tr>

                                            <<td>{{ item.maDH }}</td>
                                            <td>{{ item.hoten }} </td>
                                            <td>{{ item.tongTien }} <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td style="color: green"> Đã hoàn thành </td>
                                            
<!--                                             <td>-->
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="xoa_dh({{ item.maDH }})"> Hủy đơn hàng </button>-->
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="done_dh({{ item.maDH }})"> Hoàn thành </button>-->
<!--                                            </td>-->
                                            <td style="color: blue; text-align: center; vertical-align: middle;">Đã hoàn thành</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                       {% for item in list_donhang %}
                                    {% if item.trangThaiDH == '0' %}
                                        <tr>

                                            <td>{{ item.maDH }}</td>
                                     
                                            <td>{{ item.hoten }} </td>
                                            <td>{{ item.tongTien }} <span>&#8363;</span></td>
                                            <td>{{ item.ngayLap }}</td>
                                            <td>{{ item.maKM }}</td>
                                            <td>{{ item.maTT }}</td>
                                            <td>{{ item.sdt }}</td>
                                            <td>{{ item.diachi }}</td>
                                            <td > Đã hủy </td>
                                            
<!--                                             <td>-->
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="xoa_dh({{ item.maDH }})"> Hủy đơn hàng </button>-->
<!--                                                <button class="btn" name="{{ item.maDH }}" onclick="done_dh({{ item.maDH }})"> Hoàn thành </button>-->
<!--                                            </td>-->
                                            <td style=" text-align: center; vertical-align: middle;">Đã hủy</td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                       </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Click vào đăng xuất để đăng xuất.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

<!--    PopUp xóa đơn hàng -->
    <div class="background_verify" id="bgverify_del" style="display: none;" onclick="hid(this);">
    <div class="verify" id="verifydel">
        <div class="verify_label verifydel_label"> Bạn muốn xóa đơn hàng này?</div>
        <div class="verify_action verifydel_action">
            <button class="verify_btn btn btn-primary" id="verify_btnaccept"> Xóa đơn </button>
            <button class="verify_btn btn btn-primary" id="verify_btncancle"> Hủy </button>
        </div>
    </div>
    </div>
<!--    PopUp xác nhận đơn hàng -->
    <div class="background_verify" id="bgverify_accept" style="display: none;" onclick="hid(this);">
    <div class="verify" id="verifyacp" >
        <div class="background"></div>
        <div class="verify_label verifyacp_label"> Xác nhận đơn hàng này?</div>
        <div class="verify_action verifyacp_action">
            <button class="verify_btn btn btn-primary" id="verify_btnaccept"> Xác nhận</button>
            <button class="verify_btn btn btn-primary" id="verify_btncancle"> Hủy </button>
        </div>
    </div>
    </div>
<!--    PopUp chế biến đơn hàng -->
    <div class="background_verify" id="bgverify_process" style="display: none;" onclick="hid(this);">
    <div class="verify" id="verify_process" >
        <div class="background"></div>
        <div class="verify_label verifyacp_label"> Chuyển chế biến đơn hàng này?</div>
        <div class="verify_action verifyacp_action">
            <button class="verify_btn btn btn-primary" id="verify_btnaccept"> Xác nhận</button>
            <button class="verify_btn btn btn-primary" id="verify_btncancle"> Hủy </button>
        </div>
    </div>
    </div>
<!--    PopUp vận chuyển đơn hàng -->
    <div class="background_verify" id="bgverify_transport" style="display: none;" onclick="hid(this);">
    <div class="verify" id="verify_transport" >
        <div class="background"></div>
        <div class="verify_label verifyacp_label"> Chuyển vận chuyển đơn hàng này?</div>
        <div class="verify_action verifyacp_action">
            <button class="verify_btn btn btn-primary" id="verify_btnaccept"> Xác nhận</button>
            <button class="verify_btn btn btn-primary" id="verify_btncancle"> Hủy </button>
        </div>
    </div>
    </div>
<!--    PopUp hoàn thành đơn hàng -->
     <div class="background_verify" id="bgverify_done" style="display: none;" onclick="hid(this);">
    <div class="verify" id="verify_done" >
        <div class="background"></div>
        <div class="verify_label verifyacp_label"> Hoàn thành đơn hàng này?</div>
        <div class="verify_action verifyacp_action">
            <button class="verify_btn btn btn-primary" id="verify_btnaccept"> Xác nhận</button>
            <button class="verify_btn btn btn-primary" id="verify_btncancle"> Hủy </button>
        </div>
    </div>
    </div>

    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

      <!-- Bootstrap core JavaScript-->
    <script src="{% static 'homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'homepage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'homepage/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'homepage/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'homepage/vendor/datatables/dataTables.bootstrap4.min.js' %}" ></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'homepage/js/demo/datatables-demo.js' %}"></script>

<script>
<!--        function xóa đơn hàng -->
         function delete_dh(input_id) {
            csscla = document.getElementById("bgverify_del");
            csscla.style.display = "block";
            csscla.getElementsByTagName("button").verify_btnaccept.name = input_id;

             csscla.getElementsByTagName("button").verify_btnaccept.onclick = function() {
                console.log(typeof(input_id));
                console.log(input_id);
                urlmask= '{% url 'del_dh' 'input_id' %}'.replace('input_id', input_id);
                console.log(urlmask);
                window.location.href = urlmask;
             }

            csscla.getElementsByTagName("button").verify_btncancle.onclick = function() {
                csscla.style.display = "none";
            }
        }
<!-- function xác nhận đơn hàng -->
        function accept_dh(input_id) {
            console.log(input_id);
            csscla = document.getElementById("bgverify_accept");
            csscla.style.display = "block";
            csscla.getElementsByTagName("button").verify_btnaccept.name = input_id;

            csscla.getElementsByTagName("button").verify_btnaccept.onclick = function() {
                console.log(typeof(input_id));
                console.log(input_id);
                urlmask= '{% url 'accept_dh' 'input_id' %}'.replace('input_id', input_id);
                console.log(urlmask);
                window.location.href = urlmask;

            }
            csscla.getElementsByTagName("button").verify_btncancle.onclick = function() {
                csscla.style.display = "none";
            }
        }
<!--    function chế biến đơn hàng -->
        function process_dh(input_id) {
            csscla = document.getElementById("bgverify_process");
            csscla.style.display = "block";
            csscla.getElementsByTagName("button").verify_btnaccept.name = input_id;

             csscla.getElementsByTagName("button").verify_btnaccept.onclick = function() {
                console.log(typeof(input_id));
                console.log(input_id);
                urlmask= '{% url 'process_dh' 'input_id' %}'.replace('input_id', input_id);
                console.log(urlmask);
                window.location.href = urlmask;
             }

            csscla.getElementsByTagName("button").verify_btncancle.onclick = function() {
                csscla.style.display = "none";
            }
        }
<!--    function vận chuyển đơn hàng -->
         function transport_dh(input_id) {
            csscla = document.getElementById("bgverify_transport");
            csscla.style.display = "block";
            csscla.getElementsByTagName("button").verify_btnaccept.name = input_id;

             csscla.getElementsByTagName("button").verify_btnaccept.onclick = function() {
                console.log(typeof(input_id));
                console.log(input_id);
                urlmask= '{% url 'transport_dh' 'input_id' %}'.replace('input_id', input_id);
                console.log(urlmask);
                window.location.href = urlmask;
             }

            csscla.getElementsByTagName("button").verify_btncancle.onclick = function() {
                csscla.style.display = "none";
            }
        }
<!--    function hoàn thành đơn hàng -->
         function done_dh(input_id) {
            csscla = document.getElementById("bgverify_done");
            csscla.style.display = "block";
            csscla.getElementsByTagName("button").verify_btnaccept.name = input_id;

             csscla.getElementsByTagName("button").verify_btnaccept.onclick = function() {
                console.log(typeof(input_id));
                console.log(input_id);
                urlmask= '{% url 'done_dh' 'input_id' %}'.replace('input_id', input_id);
                console.log(urlmask);
                window.location.href = urlmask;
             }

            csscla.getElementsByTagName("button").verify_btncancle.onclick = function() {
                csscla.style.display = "none";
            }
        }

<!--    function ẩn PopUp   -->
        function hid(element){
            element.style.display = "none";
            }

<!--        window.onload = function () {-->
<!--            element = document.getElementsByClassName("sorting");-->
<!--            element[0].classList.remove("sorting_asc");-->

<!--            setTimeout(element[7].classList.add("sorting_desc"),1000);-->
<!--        }-->

        $(document).ready(function(){
            $(document.getElementsByClassName("sorting")[9]).trigger('click');
        });

        setTimeout(() => {
        document.location.reload();
            }, 5000);

    </script>
</body>

</html>